body{

background-color:rgba(225,225,225,1);

}
a{
	text-decoration:none;
	color:rgba(255,255,255,1);
}
#head{

}
#head-table{
	background-image:linear-gradient(rgba(255,0,0,1),rgba(0,0,255,1));
	position:fixed;
	top:0;
	left:0;
	width:100%;
	text-align:center;
	color:rgba(255,255,255,1);
}

#head-table-tr{
	
}
#head-table-tr-td-plus{
	background-color:rgba(255,255,255,1);
	color:rgba(255,0,0,1);

}
/* body start ------------------------------------------------------------------------------------------------*/
#body{
margin-top:110px;	
background-color:rgba(255,255,255,1);
}


/*Body Theme*/


#body-theme-dark{
    display:inline-block;
	background-color:rgba(0,0,0,1);
	color:rgba(255,255,255,1);
	border-width:4px;
	border-style:solid;
	border-color:rgba(0,255,255,1);
	padding:2px;
}

#body-theme-dark::after{
	content:"";
	clear:both;
	display:block;
}

#body-theme-light{
	display:none;
	background-color:rgba(255,255,255,1);
	color:rgba(0,0,0,1);
	border-width:4px;
	border-style:solid;
	border-color:rgba(0,255,255,1);
	padding:2px;
}

#body-theme-light::after{
	content:"";
	clear:both;
	display:block;
}

#body-covid-19-info{
	width:100%;

	
}
#body-covid-19-info::after {
  content: "";
  clear: both;
  display: table;
}
#body-covid-19-info-div-left{
	display:inline-block;
	float:left;
width:50%;
}


#body-covid-19-info-div-right{
		display:inline-block;
	width:40%;	
	float:right;
}
#body-covid-19-info-div-right-img{
	width:100%;	
	border-width:2px;
	border-style:solid;
	border-color:rgba(255,255,0,1);
}


/*Face Mask Info*/


#body-face-mask-info{
width:100%;	
}
#body-face-mask-info::after{
	content:"";
	clear:both;
	display:table;
	
}

#body-face-mask-info-div-left{
	width:50%;
	float:left;
}
#body-face-mask-info-div-right{
	width:40%;
	float:right;
}
#body-face-mask-info-div-right-img{
	width:100%;
	border-width:2px;
	border-style:solid;
	border-color:rgba(0,255,0,1);
}


/*Hand Hygiene Info*/


#body-hand-hygiene-info{
	
width:100%;

}
#body-hand-hygiene-info::after{
	content:"";
	clear:both;
	display:table;
	
}

#body-hand-hygiene-info-div-left{
	float:left;
width:50%;
}

#body-hand-hygiene-info-div-right{
	width:40%;
	float:right;
}

#body-hand-hygiene-info-div-right-img{
	width:100%;
	border-width:2px;
	border-style:solid;
	border-color:rgba(255,0,255,1);
}

/*Social Distancing Info*/


#body-social-distancing-info{
	width:100%;
	
}
#body-social-distancing-info::after{
	content:"";
	clear:both;
	display:table;
}


#body-social-distancing-info-div-left{
		width:50%;
	float:left;
}
#body-social-distancing-info-div-right{
	width:40%;
	float:right;
}

#body-social-distancing-info-div-right-img{
	width:100%;
	border-width:2px;
	border-style:solid;
	border-color:rgba(255,0,0,1);
}